.container {
    display: flex;
    justify-content: center;
}
.content {
    width: 80%;
    position: relative;
    margin: 10vw 0;
}
.content h2 {
    border-bottom: .1rem solid #01cc9d;
    padding-bottom: .8rem;
    margin-bottom: 1.5rem;
}
.content p {
    font-size: .9rem;
    margin-bottom: 1rem;
}