.container {
    margin: 4rem 1.5rem 1.5rem;
}

/* Menu */
.menu {
    margin: 1rem 0;
}
.menu button {
    width: 50%;
    font-size: .9rem;
    font-family: inherit;
    background: transparent;
    border: none;
    border-bottom: .1rem solid #eee;
    outline: none;
    padding: .5rem;
    cursor: pointer;
}
.selected {
    color: #01cc9d;
    border-bottom: .1rem solid #01cc9d !important;
}