.form {
    background: #eee;
    border-radius: .5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: .5rem;
    margin: 1rem 0;
}
.form input {
    display: none;
}
.form label {
    font-size: 2rem;
    border: .1rem dashed #ccc;
    border-radius: .5rem;
    padding: 0 .95rem .5rem;
    margin: .5rem;
    cursor: pointer;
}

.image {
    width: calc(100% / 4 - 1rem);
    height: 4.5rem;
    position: relative;
    overflow: hidden;
    margin: .5rem;
}
.image img {
    width: 100%;
}
.image span {
    top: .2rem;
    right: .2rem;
    background: #eeec;
    border-radius: .5rem;
    position: absolute;
    padding: .4rem .3rem;
    cursor: pointer;
}
.image i {
    width: .5rem;
    height: .15rem;
    background: #000;
    border-radius: .5rem;
    display: block;
}